.mcl-button {
    height: 40px;
    width: 30%;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    padding: 10px;
    background-color: #ea923e;
    border-color: #ea923e;
    border-radius: 30px;
}
.modal-style{
    padding: 0px !important;
    border-radius: 25px;
}
.content-style{
    border-radius: 3.3rem;
}
.mcl-card {
    min-height: 450px;
    background-color: #3a3b3c;
    border-radius: 0px;
    position: relative;
    box-shadow: 0 3px 20px rgb(0 0 0 / 40%);
}
.text-style{
    font-size: 18px;
    font-weight: 700;
}
.label-color{
    color: white;
}
.text-color{
    color: #ea923e;
}
.heading-color{
    color: #ea923e;
}
.modal-style{
    padding: 0px !important;
    border-radius: 25px;
}
.content-style{
    border-radius: 3.3rem;
}
.modal-image {
    border-radius: 10px;
    min-height: 250px;
}
