<div class="row py-7">
    <div class="col-md-2"></div>
    <div class="col-md-8 py-7 px-7">
        <h1 class="heading">Your order has been placed successfully with following details!</h1>
          <table class="table mt-4">
            <thead>
                <tr style="color: #9a9090">
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Sub Total</th>
                </tr>
            </thead>
            <tbody style="color: white">
                <tr *ngFor="let product of products">
                    <th scope="row">
                        <div class="flex flex:row">
                            <img
                                src="{{ product.image }}"
                                class="w-20 rounded-lg object-cover py-2 h-15"
                            />
                            <h6 class="mt-5 ml-3">{{ product.name }}</h6>
                        </div>
                    </th>
                    <th class="mt-7">${{ product.price }}</th>
                    <td>{{ product.count }}</td>
                    <td>${{ product.subTotal }}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-7">
            <button [routerLink]="['/market']" type="button" class="btn btn-primary btn-lg" >Back To Market</button>
          </div>
    </div>
    <div class="col-md-2"></div>
</div>

